<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.espressomakingassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tip1Activity"></activity>
        <activity android:name=".Tip2Activity"></activity>
        <activity android:name=".Tip3Activity"></activity>
        <activity android:name=".Tip4Activity"></activity>
        <activity android:name=".Tip5Activity"></activity>
        <activity android:name=".Tip6Activity"></activity>

    </application>

</manifest>